* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body style*/

body {
    background-color: #E5E6E4;
}

/*header style*/

header {
    width: 100%;
    height: 80px;
    background-color: #2C4251;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.name {
    text-align: center;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    width: 600px;
    height: 80px;
}

.name div h1 {
    color:#e5e6e4;
    text-shadow: 5px 5px 5px #de6449;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}
.profile {
    width: 100px;
    height: 80px;
    display: inline;
    float: left;
}

.navigation {
    height: 80px;
    width: 800px;
    padding-right: 100px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

ul a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #e5e6e4;
    text-shadow: 5px 5px 5px #DE6449;
}


/*footer style*/

footer {
    width: 100%;
    height: 80px;
    background-color: #2C4251; 
    display: flex;
    flex-wrap: wrap;
}
.contact {
    float:left;
    margin: 10px 25px 0px 25px;
    width: 30%;

}
.contact h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color:#e5e6e4;
    text-shadow: 5px 5px 5px #de6449;
    font-size: 45px;
    
}
.contact-info{
    float:right;
    height: 80px;
    width: 60%;
}
.info {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.info a {
    text-decoration: none;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    color: #e5e6e4;
    text-shadow: 3px 3px 3px #DE6449;
} 

/*hero style*/
.hero {
    position: relative;
    background-size: cover;
    
}
.hero h2 {
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 35px;
    color:#cfd2cd;
    text-shadow: 3px 3px 3px #2c4251;
}


/*main style
about me style*/

.about-me {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
        

}

.side-bar {
    display: inline-block;
    margin: 65px 25px 65px 35px;
    border-right: 3px solid #2c4251;
    padding: 25px 25px 25px 25px;
}

.about-me h2 {
    font-size: 45px;
    color: black;
    font-family: 'Roboto', sans-serif; 
}

.text {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}

.text article {
    font-size: 20px;
    color: black;
    font-family:'Lato', sans-serif; ;
}
/* work style*/

.work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.side-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.side-bar h2 {
    font-size: 45px;
    color: black;
    font-family: 'Roboto', sans-serif; 
        
}

.pictures {
    width: 63%;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.horesion {
    margin: 100px 20px 20px 25px;
    filter: brightness(50%)
}

.horesion:hover {
    filter: brightness(100%);
}

.project-3, .project-2{
    width: 300px;
    height: 150px;
    margin: 35px 35px 35px 35px;
    filter: brightness(50%);
}
.project-2:hover {
    filter: brightness(100%)
}
.project-3:hover {
    filter: brightness(100%)
}
